<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Single job to run the manage project: /mnt/nfs/shared/Harvester_Coverage/VcTools.vcm</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Redhat_32</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.vectorcast.plugins.vectorcastexecution.VectorCASTSetup plugin="vectorcast-execution@0.18"/>
    <com.vectorcast.plugins.vectorcastexecution.VectorCASTCommand plugin="vectorcast-execution@0.18">
      <winCommand></winCommand>
      <unixCommand>#!/bin/bash
echo &quot;select count (*) from files;&quot;
echo &quot;1835&quot;
echo &quot;select count (*) from commands;&quot;
echo &quot;7079&quot; </unixCommand>
    </com.vectorcast.plugins.vectorcastexecution.VectorCASTCommand>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.27">
        <script>import hudson.FilePath
import java.util.regex.Pattern



def buildLog = manager.build.getLog()
Pattern pattern = Pattern.compile(&apos;(?m)select count \\(\\*\\) from (.*?);\\s(\\d+)&apos;)

String table = &quot;&quot;
int count  = 0

def expected_count = [:]
expected_count[&quot;files&quot;] = [1835]
expected_count[&quot;commands&quot;] = [7079]


buildLog.eachMatch pattern, {
   manager.listener.logger.println(it)
    table = Integer.ValueOf(it[1])
     manager.listener.logger.println(table)
    count = it[2]
   
    manager.listener.logger.println(count)
    if (count != expected_count[table]){
      manager.listener.logger.println (&quot;here&quot;)
    }
    

   }

</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>2</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.32">
      <deleteDirs>true</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>