<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Single job to run the manage project: /mnt/nfs/shared/Harvester_Coverage/VcTools.vcm</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>LINUX_VECTORCAST_DIR</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LINUX_HARVESTER_DIR</name>
          <description></description>
          <defaultValue>/mnt/nfs/shared/Harvester_Coverage/Linux/Harvester</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_NAME</name>
          <description></description>
          <defaultValue>VectorCAST coverage for Harvester</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>VECTORCAST_DIR</name>
          <description>Specify the vectorcast_dir in which to install the instrumented build</description>
          <defaultValue>/mnt/nfs/shared/.VCAST_REGRESSION/VCAST_COVERAGE/VCAST_LINUX</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Redhat_32</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.vectorcast.plugins.vectorcastexecution.VectorCASTSetup plugin="vectorcast-execution@0.18"/>
    <com.vectorcast.plugins.vectorcastexecution.VectorCASTCommand plugin="vectorcast-execution@0.18">
      <winCommand></winCommand>
      <unixCommand>echo &quot;select count (*) from files;&quot;
echo &quot;1835&quot;
echo &quot;select count (*) from commands;
echo &quot;7079&quot; </unixCommand>
    </com.vectorcast.plugins.vectorcastexecution.VectorCASTCommand>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.27">
        <script>import hudson.FilePath
import java.util.regex.Pattern


def buildLog = manager.build.getLog()
Pattern pattern = Pattern.compile(&apos;/(?m)select count [(][*][)] from (.*?);(\d+)&apos;)

string table;
int count ; 

def expected_count = [:]
expected_count[&quot;filecount&quot;] = [1835]
expected_count[&quot;commands&quot;] = [7079]

buildLog.eachMatch pattern, {
   manager.listener.logger.println(it)
    table = it[0]
    count = Integer.valueOf(it[1])
    if (count != expected_count[table])
      println (&quot;here&quot;)
    

   }

</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>2</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.32">
      <deleteDirs>true</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.5">
      <template>${ENV, var=&quot;BUILD_NAME&quot;}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>