<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.7.4</version>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <org.jenkinsci.plugins.categorizedview.CategorizedJobsView plugin="categorized-view@1.9">
      <owner class="hudson" reference="../../.."/>
      <name>Categorized View</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Build_Linux32</string>
        <string>Build_Linux64</string>
        <string>Build_Windows</string>
        <string>Custom_Cygwin</string>
        <string>Custom_Linux</string>
        <string>Custom_Windows</string>
        <string>Cygwin32</string>
        <string>Git_Clone</string>
        <string>Linux32</string>
        <string>Linux_EnvCreate</string>
        <string>Linux_ValgrindTest</string>
        <string>Regression_6pm_Master</string>
        <string>WinCyg_EnvCreate</string>
        <string>Windows32_msvc10</string>
        <string>Windows32_msvc9</string>
        <string>Windows64_msvc10</string>
        <string>Windows64_msvc9</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <org.jenkinsci.plugins.categorizedview.IndentedJobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>true</recurse>
      <groupingRules/>
      <regexToIgnoreOnColorComputing></regexToIgnoreOnColorComputing>
      <categorizationCriteria>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^{Regression_6pm_Master|Windows32_msvc10|Cygwin32|Linux32}$</groupRegex>
          <namingRule>Regression_6PM</namingRule>
          <useDisplayName>false</useDisplayName>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^{Git_Clone|Build_Linux32|Build_Linux64|Build_Windows}$</groupRegex>
          <namingRule>Harvester_Build</namingRule>
          <useDisplayName>false</useDisplayName>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
      </categorizationCriteria>
    </org.jenkinsci.plugins.categorizedview.CategorizedJobsView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>