<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.7.4</version>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <org.jenkinsci.plugins.categorizedview.CategorizedJobsView plugin="categorized-view@1.9">
      <owner class="hudson" reference="../../.."/>
      <name>Categorized View</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Build_Linux32</string>
        <string>Build_Linux64</string>
        <string>Build_Linux64_full</string>
        <string>Build_Windows</string>
        <string>Coverage_Linux</string>
        <string>Coverage_Linux_Under_design</string>
        <string>Coverage_Windows</string>
        <string>Custom_Cygwin</string>
        <string>Custom_Linux</string>
        <string>Custom_Windows</string>
        <string>Cygwin32</string>
        <string>Cygwin64</string>
        <string>Cygwin_homepath</string>
        <string>Firefox_linux</string>
        <string>Firefox_linux_new</string>
        <string>Git_Clone</string>
        <string>Linux32</string>
        <string>Linux32_on_VC</string>
        <string>Linux64_full</string>
        <string>Linux64_lib_only</string>
        <string>Linux_EnvCreate</string>
        <string>LINUX_INSTRUMENTED_VCRUNTESTS</string>
        <string>LINUX_INSTRUMENTED_VCRUNTESTS_UNDER_DESIGN</string>
        <string>Linux_test_perf</string>
        <string>Linux_ValgrindTest</string>
        <string>Regression_6pm_Master</string>
        <string>Regression_Other_Jobs_Master</string>
        <string>Release</string>
        <string>Result_Collector</string>
        <string>Result_Collector_New</string>
        <string>Result_Collector_Other</string>
        <string>test</string>
        <string>Test_Commit_Linux</string>
        <string>Test_Commit_WinCyg</string>
        <string>Win32_64_on_VC</string>
        <string>WinCyg_EnvCreate</string>
        <string>Windows32_msvc10</string>
        <string>Windows32_msvc9</string>
        <string>Windows64_msvc10</string>
        <string>Windows64_msvc9</string>
        <string>Workspace_cleanup_on_54</string>
        <string>Workspace_cleanup_on_68</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <org.jenkinsci.plugins.categorizedview.IndentedJobColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.views.StatusColumn/>
        <hudson.plugins.nodenamecolumn.NodeNameColumn plugin="nodenamecolumn@1.2"/>
      </columns>
      <recurse>true</recurse>
      <groupingRules/>
      <regexToIgnoreOnColorComputing></regexToIgnoreOnColorComputing>
      <categorizationCriteria>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^Regression_6pm_Master|Windows32_msvc10|Cygwin32|(Linux32)|Workspace_cleanup_on_68|Workspace_cleanup_on_54|Result_Collector$</groupRegex>
          <namingRule>Regression_6PM</namingRule>
          <useDisplayName>false</useDisplayName>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^Git_Clone|Build_Linux32|Build_Linux64|Build_Windows|BUILD_LINUX64_FULL$</groupRegex>
          <namingRule>Harvester_Build</namingRule>
          <useDisplayName>false</useDisplayName>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^Custom_Linux|Custom_Windows|Custom_Cygwin$</groupRegex>
          <namingRule>Custom_jobs</namingRule>
          <useDisplayName>false</useDisplayName>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^Test_Commit_Linux|Test_Commit_WinCyg$</groupRegex>
          <namingRule>Test_Commit_jobs</namingRule>
          <useDisplayName>false</useDisplayName>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^Linux_ValgrindTest|Coverage_Linux|Coverage_Windows|LINUX_INSTRUMENTED_VCRUNTESTS|Linux_EnvCreate|WinCyg_EnvCreate|Firefox_linux|Linux_test_perf$</groupRegex>
          <namingRule>Performance_jobs</namingRule>
          <useDisplayName>false</useDisplayName>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^VectorCAST_Release_tests_master|Linux32_on_VC|Win32_64_on_VC$</groupRegex>
          <namingRule>VectorCAST_Release_test_jobs</namingRule>
          <useDisplayName>false</useDisplayName>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^Regression_Other_Jobs_Master|Linux64_full|Linux64_lib_only|Cygwin64|Cygwin_homepath|Windows32_msvc9|Windows64_msvc10|Windows64_msvc9|Result_Collector_Other$</groupRegex>
          <namingRule>Regression_Other_jobs</namingRule>
          <useDisplayName>false</useDisplayName>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
      </categorizationCriteria>
    </org.jenkinsci.plugins.categorizedview.CategorizedJobsView>
  </views>
  <primaryView>Categorized View</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties>
    <org.jenkinsci.plugins.mailwatcher.WatcherNodeProperty plugin="mail-watcher-plugin@1.16">
      <onlineAddresses></onlineAddresses>
      <offlineAddresses>kavya@vectorcast.com</offlineAddresses>
    </org.jenkinsci.plugins.mailwatcher.WatcherNodeProperty>
  </globalNodeProperties>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>