<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Custom job which can be triggered at any instant of time. It does shallow clone, builds Harvester, installs VECTORCAST in shared/.VCAST_REGRESSION/custom</description>
  <keepDependencies>true</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BUILD NAME</name>
          <description></description>
          <defaultValue>User_test</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>HARVESTER_PATH</name>
          <description></description>
          <defaultValue>N:\shared\Jenkins_Harvester\Git</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WINDOWS_VECTORCAST_DIR</name>
          <description></description>
          <defaultValue>N:\shared\.VCAST_REGRESSION\custom\VCAST_WINDOWS</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Windows_54</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>@echo on&#xd;
cd %WORKSPACE%&#xd;
set path=%path:&quot;=%&#xd;
call &quot;C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\vcvarsall.bat&quot; amd64&#xd;
&#xd;
set VECTORCAST_DIR=%WINDOWS_VECTORCAST_DIR%&#xd;
set PYTHONPATH=C:\Python27\Lib\site-packages\junit_xml-1.0-py2.7.egg&#xd;
set VECTOR_LICENSE_FILE=C:\flexlm\vector-INDIAWINDOWSBUI.lic&#xd;
set PATH=%PATH%;V:\boost\boost-1.53.0\lib&#xd;
xcopy /S /I /E %HARVESTER_PATH%\tests tests /Q /Y&#xd;
&#xd;
cd %WORKSPACE%&#xd;
mkdir tbuild32_msvc10&#xd;
cd tbuild32_msvc10&#xd;
cmake ..\tests -G&quot;Visual Studio 10 Win64&quot;&#xd;
%VECTORCAST_DIR%\vpython VcRunTests.py --run_tests=VcshellTest\env_test</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.21">
      <recipients>kavya@vectorcast.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.34">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>