<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Custom job which can be triggered at any instant of time. It does shallow clone, builds Harvester, installs VECTORCAST in shared/.VCAST_REGRESSION/custom</description>
  <keepDependencies>true</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_NAME</name>
          <description></description>
          <defaultValue>User_test</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH</name>
          <description></description>
          <defaultValue>develop</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WIN_GIT_DIR</name>
          <description></description>
          <defaultValue>N:\shared\Jenkins_Harvester\Git</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Windows_54</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>cd %WORKSPACE%&#xd;
set path=%path:&quot;=%&#xd;
call &quot;C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\vcvarsall.bat&quot;&#xd;
set VECTORCAST_DIR=N:\shared\.VCAST_REGRESSION\custom\VCAST_WINDOWS&#xd;
set PYTHONPATH=C:\Python27\Lib\site-packages\junit_xml-1.0-py2.7.egg&#xd;
set VECTOR_LICENSE_FILE=C:\flexlm\vector-INDIAWINDOWSBUI.lic&#xd;
&#xd;
xcopy /S /I /E %WIN_GIT_DIR%\tests tests /Q /Y&#xd;
rem xcopy /S /I /E V:\Harvester\tests tests /Q /Y&#xd;
REM call buildWin.bat msvc9 --arch=all&#xd;
REM cd build&#xd;
REM call install.bat&#xd;
REM set _VC_TEST_ENV_=1&#xd;
&#xd;
cd %WORKSPACE%&#xd;
mkdir tbuild32_msvc10&#xd;
cd tbuild32_msvc10&#xd;
cmake ..\tests&#xd;
echo vcQuickParseTest &gt;&gt; vc_test_add_dir&#xd;
echo vcInstTest &gt;&gt; vc_test_add_dir&#xd;
%VECTORCAST_DIR%\vpython VcRunTests.py --metrics &#xd;
&#xd;
</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.19">
      <recipients>kavya@vectorcast.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.32">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>