<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>LINUX_RELEASE_DIR</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LINUX_GIT_DIR</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LINUX_PACKAGE_DIR</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LINUX_VECTORCAST_DIR</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_NAME</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>VCTOOLS_VERSION</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Centos_5_11_x64_Build_machine</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -xe

# Linux 64-bit package dir
export LINUX_64BIT_PACKAGE_DIR=$LINUX_PACKAGE_DIR/64_bit

# copy the required files from git repo
cp -r &quot;${LINUX_GIT_DIR}/harvester&quot;  .
cp -r &quot;${LINUX_GIT_DIR}/imports&quot;  .
cp -r &quot;${LINUX_GIT_DIR}/build.sh&quot; .

# This job assumes that env like BOOST64_DIR are
# set as globals in the system
./build.sh --arch=x64 --link_static

# Create 64-bit release package
cd build64
./release-package.sh|| if [[ $? == 1 ]]; then 
		true
    else
    	false
    fi
cd ..

# Copy the 64-bit package to share drive
if [ -d &quot;$LINUX_64BIT_PACKAGE_DIR&quot; ] ; then
	rm -rf &quot;$LINUX_64BIT_PACKAGE_DIR&quot;
fi
mkdir &quot;$LINUX_64BIT_PACKAGE_DIR&quot;
cp -r release-packages/release &quot;$LINUX_64BIT_PACKAGE_DIR/.&quot;

# copy the 32-bit recorder lib to package
cp &quot;$LINUX_PACKAGE_DIR/release/lib/libVcRecorderLib.so&quot; &quot;${LINUX_64BIT_PACKAGE_DIR}/release/lib/.&quot;
cd &quot;$LINUX_64BIT_PACKAGE_DIR&quot;
tar -cvzf harvester.linux_$VCTOOLS_VERSION.tgz release


</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.32">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.5">
      <template>${ENV, var=&quot;BUILD_NAME&quot;}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>false</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>