<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Custom job which can be triggered at any instant of time. It does shallow clone, builds Harvester, installs VECTORCAST in shared/.VCAST_REGRESSION/custom</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_NAME</name>
          <description></description>
          <defaultValue>User_test</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WIN_GIT_DIR</name>
          <description></description>
          <defaultValue>N:\shared\Jenkins_Harvester\Git</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Windows_54</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>call &quot;C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\vcvarsall.bat&quot;&#xd;
&#xd;
cd %WORKSPACE%&#xd;
set path=%path:&quot;=%&#xd;
rem set VECTORCAST_DIR=N:\shared\.VCAST_REGRESSION\vcinst\windows\install&#xd;
set VECTORCAST_DIR=N:\shared\.VCAST_REGRESSION\custom\VCAST_WINDOWS&#xd;
set VECTOR_LICENSE_FILE=C:\flexlm\vector-INDIAWINDOWSBUI.lic&#xd;
set PYTHONPATH=C:\Python27\Lib\site-packages\junit_xml-1.0-py2.7.egg&#xd;
&#xd;
rem xcopy /S /I /E %WIN_GIT_DIR%\tests tests /Q /Y&#xd;
xcopy /S /I /E V:\Harvester\tests tests /Q /Y&#xd;
&#xd;
rem set _VC_DETOUR_CYGWIN_32_=1&#xd;
echo %_VC_DETOUR_CYGWIN_32_%&#xd;
&#xd;
%VECTORCAST_DIR%\vcshell --version&#xd;
%VECTORCAST_DIR%\clicast --version&#xd;
&#xd;
cd %WORKSPACE%&#xd;
rmdir tbuild32_cyg /s /q&#xd;
mkdir tbuild32_cyg&#xd;
cd tbuild32_cyg&#xd;
set PATH=C:\cygwin\bin;%PATH%&#xd;
bash -c &quot;cmake ../tests -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++&quot;&#xd;
cd CompatibilityTest&#xd;
%VECTORCAST_DIR%\vpython ..\VcRunTests.py </command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.19">
      <recipients>kavya@vectorcast.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.32">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.5">
      <template>${ENV, var=&quot;BUILD_NAME&quot;}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>