<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Custom job intended to be triggered at any instant of time. Git Clone and Build has to be done before triggering this job since Build is on RedHat mac. Uses VECTORCAST in /mnt/nfs/shared/.VCAST_REGRESSION/custom/VCAST_LINUX</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_NAME</name>
          <description></description>
          <defaultValue>User_test</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>HARVESTER_PATH</name>
          <description></description>
          <defaultValue>/mnt/nfs/shared/Jenkins_Harvester/Git</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LINUX_VECTORCAST_DIR</name>
          <description></description>
          <defaultValue>/mnt/nfs/shared/.VCAST_REGRESSION/custom/VCAST_LINUX</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Ubuntu32bit_71</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -xe

cd $WORKSPACE

ulimit -c unlimited
export VECTORCAST_DIR=${LINUX_VECTORCAST_DIR}
export VECTOR_LICENSE_FILE=/home/vectorindia/flexlm/vector-UBUNTU.lic
export PYTHONPATH=/usr/lib/python2.7/dist-packages:PYTHONPATH

echo $VECTORCAST_DIR
$VECTORCAST_DIR/vcshell --version
$VECTORCAST_DIR/clicast --version

cp -r ${HARVESTER_PATH}/tests $WORKSPACE

rm -rf tbuild32
#CMake and run VcRunTests
mkdir tbuild32
cd tbuild32

cmake ../tests -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++
#$VECTORCAST_DIR/vpython VcRunTests.py --metrics --run_tests=AddmetricsTest/CommonTests,AddmetricsTest/ErrorTests,ClicastTest,LinkOptionsTest,VcutilTest/Retain,VcutilTest/Writable,VcutilTest/MultipleCmdVerbs,vcInstTest,VcdbTest/BackSlash-Test,vcQuickParseTest
$VECTORCAST_DIR/vpython VcRunTests.py --metrics --run_tests=ClicastTest
#$VECTORCAST_DIR/vpython VcRunTests.py --metrics --vcast_dir=/mnt/nfs/shared/.VCAST_REGRESSION/test_54972_linux --run_tests=vcInstTest,VcutilTest
exit

#for i in {1..2}
#do
#  $VECTORCAST_DIR/vpython VcRunTests.py --metrics --tag=vcshell --run_tests=IncludeTests,ExpandTest,FilePathTests,GetApps-LinkTests,HelloTest,MathTest,MultiFileTest,OptionTests,UnitTests
#done
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.19">
      <recipients>kavya@vectorcast.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.32">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.5">
      <template>${ENV,var=&quot;BUILD_NAME&quot;}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>