<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>Ubuntu32bit_71</name>
  <description></description>
  <remoteFS>/home/vectorindia/SlaveJenkins</remoteFS>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.14">
    <host>192.168.163.71</host>
    <port>22</port>
    <credentialsId>Ubuntu32bit_71</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label>Ubuntu32bit_71</label>
  <nodeProperties/>
</slave>