<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Run VcRunTests on Ubuntu64 bit mac</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>LINUX_GIT_DIR</name>
          <description></description>
          <defaultValue>/mnt/nfs/shared/Jenkins_Harvester/Git</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_NAME</name>
          <description></description>
          <defaultValue>Test</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LINUX_RELEASE_DIR</name>
          <description></description>
          <defaultValue>/mnt/nfs/shared/Jenkins_Harvester</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LINUX64_VECTORCAST_DIR</name>
          <description></description>
          <defaultValue>/mnt/nfs/shared/.VCAST_REGRESSION/JOB_6PM/VCAST_LINUX</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -xe

ulimit -c unlimited
export BOOST64_DIR=/home/vectorindia/boost-1.55.0-x64
export LD_LIBRARY_PATH=$BOOST64_DIR/lib
cd $WORKSPACE
export VECTORCAST_DIR=$LINUX64_VECTORCAST_DIR
export VECTOR_LICENSE_FILE=/home/vectorindia/flexlm/vector-UNX-REG64-61.lic
export PYTHONPATH=/usr/lib/python2.7/dist-packages:PYTHONPATH
echo $VECTORCAST_DIR
$VECTORCAST_DIR/vcshell --version
$VECTORCAST_DIR/clicast --version
file $VECTORCAST_DIR/vcdb
file $VECTORCAST_DIR/vcutil
file $VECTORCAST_DIR/clicast

cp -r ${LINUX_GIT_DIR}/tests $WORKSPACE

#CMake and run VcRunTests
rm -rf tbuild64_fullbuild
mkdir tbuild64_fullbuild
cd tbuild64_fullbuild
cmake ../tests -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++
export VECTOR_LICENSE_FILE=/home/vectorindia/flexlm/vector-UNX-REG64-61.lic


$VECTORCAST_DIR/vpython VcRunTests.py  
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.21">
      <recipients>kavya@vectorcast.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.9">
      <template>${ENV,var=&quot;BUILD_NAME&quot;}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>