<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>LINUX_GIT_DIR</name>
          <description></description>
          <defaultValue>/mnt/nfs/shared/Jenkins_Harvester/Git</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LINUX_RELEASE_DIR</name>
          <description></description>
          <defaultValue>/mnt/nfs/shared/Jenkins_Harvester</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LINUX_VECTORCAST_DIR</name>
          <description></description>
          <defaultValue>/mnt/nfs/shared/.VCAST_REGRESSION/JOB_6PM/VCAST_LINUX</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Ubuntu32bit_71</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

cp -r ${LINUX_GIT_DIR}/* $WORKSPACE

export PYTHONPATH=/usr/lib/python2.7/dist-packages:PYTHONPATH
export VECTOR_LICENSE_FILE=/home/linuxregressionmac/flexlm/vector-UBUNTU.lic
export VECTORCAST_DIR=$LINUX_VECTORCAST_DIR

cd $WORKSPACE
./build.sh --gcov
cd build
./install.sh
lcov --zerocounters --directory `pwd`
./RunUnitTest.sh


cd $WORKSPACE
mkdir tbuild1
cd tbuild1
cmake ../tests -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++
$VECTORCAST_DIR/vpython VcRunTests.py

cd $WORKSPACE
mkdir tbuild2
cd tbuild2
cmake ../tests -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++
$VECTORCAST_DIR/vpython VcRunTests.py --metrics

cd $WORKSPACE
mkdir tbuild3
cd tbuild3
cmake ../tests -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++
$VECTORCAST_DIR/vpython VcRunTests.py --cmdverb



cd $WORKSPACE
mkdir coverage
cd coverage
lcov --capture --directory $WORKSPACE/build --output-file=$PWD/coverage.info
#lcov --add --add-tracefile ../coverage1.info -a ../coverage2.info -o coverage_merged.info
genhtml coverage.info
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.32">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>